.bhatt__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.bhatt__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bhatt__navbar-links_logo {
  margin-right: auto;
}

.bhatt__navbar-links_logo img {
  width: 100px;
  height: 80px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 whitesmoke;
}

.bhatt__navbar-links_container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  /* justify-content: flex-end; */
}

.bhatt__navbar-links_container p,
.bhatt__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.bhatt__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.bhatt__navbar-menu svg {
  cursor: pointer;
}

.bhatt__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: black;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.bhatt__navbar-menu_container p {
  margin: 1rem 0;
}

.bhatt__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .bhatt__navbar-links_container {
    display: none;
  }

  .bhatt__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .bhatt__navbar-links_logo img {
    width: 100px;
    height: 60px;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 whitesmoke;
  }
  .bhatt__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .bhatt__navbar-links_logo img {
    width: 100px;
    height: 60px;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 whitesmoke;
  }
  .bhatt__navbar {
    padding: 2rem;
  }

  .bhatt__navbar-menu_container {
    top: 20px;
  }

  .bhatt__navbar-menu_container-links-sign {
    display: block;
  }
}
